<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Originalprice>
            <version>1.0.0</version>
        </Mygento_Originalprice>
    </modules>
    <global>
        <blocks>
            <originalprice>
                <class>Mygento_Originalprice_Block</class>
            </originalprice>
        </blocks>
        <helpers>
            <originalprice>
                <class>Mygento_Originalprice_Helper</class>
            </originalprice>
        </helpers>
        <models>
            <originalprice>
                <class>Mygento_Originalprice_Model</class>
            </originalprice>
        </models>
        <resources>
            <originalprice_setup>
                <setup>
                    <module>Mygento_Originalprice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </originalprice_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <original_product_price>
                    <to_order_item>*</to_order_item>
                </original_product_price>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <original_product_price>
                    <to_quote_item>*</to_quote_item>
                </original_product_price>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <originalprice_add_to_cart>
                        <class>originalprice/observer</class>
                        <method>addToCartComplete</method>
                    </originalprice_add_to_cart>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <originalprice>
                    <files>
                        <default>Mygento_Originalprice.csv</default>
                    </files>
                </originalprice>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <originalprice>
                                            <title>Mygento Original Price Configuration</title>
                                        </originalprice>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <originalprice>
                    <file>mygento/originalprice.xml</file>
                </originalprice>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <originalprice>
            <general>
                <enabled>1</enabled>
            </general>
        </originalprice>
    </default>
</config>
